<%- include('includes/head'); %>

    <section class="container">
        <h1>Lorem Ipsum</h1>
        <form action="/" method="POST">
            <label for="">Nome do cliente</label>
            <input type="text" name="cliente">
            <button>Submit</button>
        </form>
    </section>

<%- include('includes/footer'); %>